USE [master]
GO
/****** Object:  Database [PRJ301_SE1638]    Script Date: 3/22/2023 8:45:56 AM ******/
CREATE DATABASE [PRJ301_SE1638]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectPrj_HE163166_SE1638', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjectPrj_HE163166_SE1638.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectPrj_HE163166_SE1638_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjectPrj_HE163166_SE1638_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1638].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1638]
GO
/****** Object:  Table [dbo].[Account_HE163166_SE1638]    Script Date: 3/22/2023 8:45:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_HE163166_SE1638](
	[UserName] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
	[Gender] [bit] NULL,
	[email] [nvarchar](50) NULL,
	[add] [nvarchar](100) NULL,
	[phone] [nvarchar](50) NULL,
	[roll] [int] NULL,
 CONSTRAINT [PK_Account_HE163166_SE1638] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_HE163166_SE1638]    Script Date: 3/22/2023 8:45:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_HE163166_SE1638](
	[Cid] [int] NOT NULL,
	[Cname] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang_HE163166_SE1638]    Script Date: 3/22/2023 8:45:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang_HE163166_SE1638](
	[User] [nvarchar](50) NOT NULL,
	[Pid] [int] NOT NULL,
	[Pname] [nvarchar](200) NULL,
	[Pprice] [float] NULL,
	[Pimage] [nvarchar](500) NULL,
	[Quantity] [int] NULL,
	[isChose] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_HE163166_SE1638]    Script Date: 3/22/2023 8:45:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_HE163166_SE1638](
	[OrderID] [int] NOT NULL,
	[Date] [datetime] NULL,
	[User] [nvarchar](50) NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Order_HE163166_SE1638] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail_HE163166_SE1638]    Script Date: 3/22/2023 8:45:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail_HE163166_SE1638](
	[OrderDetailID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_HE163166_SE1638]    Script Date: 3/22/2023 8:45:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_HE163166_SE1638](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NULL,
	[price] [float] NOT NULL,
	[image] [nvarchar](500) NULL,
	[Cid] [int] NULL,
 CONSTRAINT [PK_Product_HE163166_SE1638] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 3/22/2023 8:45:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[DateTest] [datetime] NULL,
	[IntTest] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GioHang_HE163166_SE1638]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_HE163166_SE1638_Account_HE163166_SE1638] FOREIGN KEY([User])
REFERENCES [dbo].[Account_HE163166_SE1638] ([UserName])
GO
ALTER TABLE [dbo].[GioHang_HE163166_SE1638] CHECK CONSTRAINT [FK_GioHang_HE163166_SE1638_Account_HE163166_SE1638]
GO
ALTER TABLE [dbo].[GioHang_HE163166_SE1638]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_HE163166_SE1638_Product_HE163166_SE1638] FOREIGN KEY([Pid])
REFERENCES [dbo].[Product_HE163166_SE1638] ([id])
GO
ALTER TABLE [dbo].[GioHang_HE163166_SE1638] CHECK CONSTRAINT [FK_GioHang_HE163166_SE1638_Product_HE163166_SE1638]
GO
ALTER TABLE [dbo].[Order_HE163166_SE1638]  WITH CHECK ADD  CONSTRAINT [FK_Order_HE163166_SE1638_Account_HE163166_SE1638] FOREIGN KEY([User])
REFERENCES [dbo].[Account_HE163166_SE1638] ([UserName])
GO
ALTER TABLE [dbo].[Order_HE163166_SE1638] CHECK CONSTRAINT [FK_Order_HE163166_SE1638_Account_HE163166_SE1638]
GO
ALTER TABLE [dbo].[OrderDetail_HE163166_SE1638]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_HE163166_SE1638_Order_HE163166_SE1638] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order_HE163166_SE1638] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail_HE163166_SE1638] CHECK CONSTRAINT [FK_OrderDetail_HE163166_SE1638_Order_HE163166_SE1638]
GO
ALTER TABLE [dbo].[OrderDetail_HE163166_SE1638]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_HE163166_SE1638_Product_HE163166_SE1638] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product_HE163166_SE1638] ([id])
GO
ALTER TABLE [dbo].[OrderDetail_HE163166_SE1638] CHECK CONSTRAINT [FK_OrderDetail_HE163166_SE1638_Product_HE163166_SE1638]
GO
ALTER TABLE [dbo].[Product_HE163166_SE1638]  WITH CHECK ADD  CONSTRAINT [FK_Product_HE163166_SE1638_Category_HE163166_SE1638] FOREIGN KEY([Cid])
REFERENCES [dbo].[Category_HE163166_SE1638] ([Cid])
GO
ALTER TABLE [dbo].[Product_HE163166_SE1638] CHECK CONSTRAINT [FK_Product_HE163166_SE1638_Category_HE163166_SE1638]
GO
USE [master]
GO
