.category {
    padding: 100px 0 0;
}

.category_left {
    width: 20%;

}

.category_left_items {
    margin-bottom: 10px;
    font-family: SuisseIntl-Regular;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    list-style-type: none;
    line-height: 24px;
    min-height: 0vw;
    letter-spacing: 1px;
}

.category_left_items a {
    text-decoration: none;
    color:black ;
}

.category_right {
    width: 80%;
}
.card-title{
    font-size: 15px;
    font-family: SuisseIntl-Regular;
}
.card-title a{
    text-decoration: none;
    color:black ;
}
.carousel-item {
                height: 100vh;
                min-height: 350px;
                background: no-repeat center center scroll;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }